<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Accounts</title>
    {% endif %}
</head>
<body>
    <div>
        Accounts:
        <a href="{{ url_for('main.index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
</body>
</html>